.App {
  text-align: center;
}
.container{
  width: 600px;
  margin: auto;
}
.counters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 450px;
  margin: 10px 0 20px 5px;
}
.counter-blocks {
  flex: 1;
  flex-basis: 200px;
  text-align: center;
}
.controls{
  display: flex;
  flex-direction: row;
  width: 450px;
  flex-wrap: nowrap;
  margin: 0 0 20px 5px;
}
.control-block{
  flex: 1;
  text-align: center;
}

li {
  width: 450px;
  display: flex;
  margin: 5px;
  flex-wrap: nowrap;
  background: gray;
  border-radius: 5px;
  min-height: 40px;
  vertical-align: middle;
  line-height: 40px;
}
.list-checkbox{
  flex: 1;
  text-align: center;
}
.list-taskname{
  flex: 2;
  text-align: center;
}
.list-button{
  flex: 1;
  text-align: center;
}

.create-button, .create-button:hover {
  background: navy;
  border: 2px solid navy;
  color: white;
  border-radius: 10px;
  outline: none;
}
.create-button:focus {
  outline: 1px solid #blue;
}
.delete-button {
  color: white;
  font-weight: 400;
  background: red;
  border-radius: 50%;
  border: 2px solid red;
}
input[type='text']{
  width: 200px;
  border-radius: 5px;
  border: 2px solid gray;
}
input[type='text']:focus, input[type='text']:active{
  outline: 1px solid blue;
}
* {
  font-family: comic sans ms;
  font-size: 16px;
}
